<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <link href="/Ayush Kumar Yadav CHE/style/navbar.css" rel="stylesheet">
    <title>music player</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#">English</a></li>
                <li><a href="#">Punjabi</a></li>
                <li><a href="#">Hindi</a></li>
                <li><a href="#" >My Playlist</a></li>
                <div class="search">
                    <input type="text"name="search"id="search"placeholder="Enter song name">
                </div>
            </ul>
        </nav>
    </header>
    
</body>
</html>