/* Styling the body */
* {
    padding: 0;
    margin: 0;
}

/* Styling the background image by
giving its url and position */
.container {
    height: 100vh;
    width: 100%;
    background-image: url(
'https://img.freepik.com/free-vector/musical-pentagram-sound-waves-notes-background_1017-33911.jpg?w=2000');
    
    /* Image used: */
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Styling the list tags to the
right of the navigation bar */
.nav li {
    float: right;
    list-style: none;
}

/* Styling the anchor tags of
the navigation bar */
.nav a {
    list-style: none;
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
    font-weight: 550;
    display: block;
    padding: 5px 35px;
    color: black;
    text-decoration: none;
}

/* Giving position and margin
to the content-div */
.content {
    width: 100%;
    position: absolute;
    top: 15%;
}

/* Styling the left-col by
giving margin */
.left-col {
    margin-left: 9%;
}

/* Styling the my sound placed
in the left-col */
.left-col h1 {
    font-size: 40px;
    color: rgb(21, 244, 236);
}

/* Styling the right-col */
.right-col {
    float: right;
    margin-right: 10%;
    margin-top: -5%;
    display: flex;
    align-items: center;
}

/* Styling the text in the right-col */
.right-col p {
    font-size: 21px;
    color: rgb(224, 73, 27);
    font-weight: 650;
    margin-right: 20px;
}

/* Styling the cursor type
of the icon to pointer */
#icon {
    cursor: pointer;
}
