<html>
 <head>
   <title>Music Recommender</title>
       <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/style/code1.css">
  </head>
  <body>
    
    
    <div id="container">

      <nav>
        <div id="logo">
          Music Recommender 
        </div>
        <div id="search">
        <input type="text" placeholder="Search..">
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Genre</a></li>
          <li class="dropdown" onmouseover="hover(this);" onmouseout="out(this);"><a href="#">Type &nbsp;<i class="fa fa-caret-down"></i></a>
            <div class="dd">
              <div id="up_arrow"></div>
            <ul>
              
              <li><a href="#">Electronic</a></li>
              <li><a href="#">Pop</a></li>
              <li><a href="#">Jazz</a></li>
            </ul>
            </div>
          </li>
          <li><a href="#">Artist</a></li>
          <li class="dropdown"><a href="#">Treding &nbsp;<i class="fa fa-caret-down"></i> </a>
           <div class="dd">
             <div id="u_a_c"><div id="up_arrow"></div></div>
            <ul>
              
              <li><a href="#">Top 50 Arijit Singh</a></li>
              <li><a href="#">Top 100 International</a></li>
              <li><a href="#">Top 50 Bollywood</a></li>
            </ul>
            </div>
        </ul>
      </nav>
    </div>
  </body>
</html>